.root {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;

  &__nonActive {
    display: none;
  }
  h1 {
    margin: 50px 0 50px;
    padding-bottom: 10px;
    align-self: center;
    border-bottom: 1px solid #9d9d9d;
  }
  ul {
    @media (max-width: 1024px) {
      padding: 0 10px;
      margin: 0;
      li {
        display: inline-block !important;
        margin-bottom: 25px;
        font-size: 15px;
      }
    }
    margin-left: 50px;
    li {
      font-size: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 15px;
      font-weight: bold;
      em {
        font-weight: 400;
        font-size: 18px;
        margin: 15px 5px 0;
      }
    }
  }
  @media (max-width: 740px) {
    h1 {
      font-size: 16px;
    }
    h2 {
      font-size: 14px;
    }
    ul {
      li {
        font-size: 12px !important;
        em {
          font-size: 14px;
        }
      }
    }
  }
}
