.root {
  margin-top: 50px;
  padding: 0 50px;

  h1 {
    margin-bottom: 20px;
  }

  &__incResult {
    display: flex;
    overflow: scroll;
    max-width: 815px;
    height: 300px;
    margin: 15px auto 0;
  }

  &__buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    button {
      width: 90px;
      height: 50px;
      padding: 5px 12px;
      border: 1px solid #9d9d9d;
      font-weight: 500;
      background: transparent;
      cursor: pointer;
      position: relative;
      display: inline-block;
      border-radius: 15px;
      border-style: none;
      box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px, rgba(0, 0, 0, 0.14) 0 6px 10px 0,
        rgba(0, 0, 0, 0.12) 0 1px 18px 0;
      user-select: none;
    }
    button:last-child {
      width: 100px;
      padding: 5px;
      margin-left: 15px;
    }
  }

  @media (max-width: 910px) {
    &__incResult {
      max-width: 615px;
      height: 250px;
    }
  }

  @media (max-width: 700px) {
    &__incResult {
      max-width: 465px;
    }
  }

  @media (max-width: 550px) {
    &__incResult {
      max-width: 365px;
    }
  }

  @media (max-width: 500px) {
    h1 {
      font-size: 16px;
    }
    &__buttonContainer {
      display: flex;
      justify-content: center;
    }
  }
  @media (max-width: 455px) {
    &__incResult {
      max-width: 265px;
    }
  }
  @media (max-width: 355px) {
    &__incResult {
      max-width: 215px;
    }
  }
}
