.root {
  width: 380px;
  border: 1px solid #707070;
  display: flex;
  flex-direction: column;
  height: 250px;
  justify-content: space-between;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px, rgba(0, 0, 0, 0.14) 0 6px 10px 0,
    rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), opacity 15ms linear 30ms,
    transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;

  &__header,
  &__main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 15px;

    h3 {
      border-bottom: 1px solid #707070;
      padding-bottom: 10px;
      align-self: center;
    }
    span {
      margin-top: 10px;
      display: contents;
    }
  }

  @media (max-width: 1260px) {
    width: 325px;
    &__header,
    &__main {
      font-size: 13px;
    }
  }
  @media (max-width: 1100px) {
    width: 305px;
    &__header,
    &__main {
      font-size: 13px;
      span {
        max-width: 315px;
      }
    }
    &__main {
      span {
        display: flex;
        align-self: center;
      }
      time {
        margin-top: 10px !important;
      }
    }
  }
  @media (max-width: 1010px) {
    &__main {
      span {
        max-width: 220px;
      }
    }
  }
  @media (max-width: 845px) {
    width: 400px;
    margin-bottom: 30px;
    span {
      font-size: 16px;
    }
  }
  @media (max-width: 740px) {
    &__main {
      span {
        display: contents;
      }
    }
  }

  @media (max-width: 480px) {
    width: 300px;
    span {
      font-size: 14px;
    }
  }

  &__header {
    margin-top: 20px;
  }
  &__main {
    margin: 0 0 0 20px;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0 15px;
  }
  &__startButton {
    width: 110px;
    height: 45px;
    padding: 5px 12px;
    border: 1px solid #9d9d9d;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    font-size: 15px;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    border-radius: 15px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px, rgba(0, 0, 0, 0.14) 0 6px 10px 0,
      rgba(0, 0, 0, 0.12) 0 1px 18px 0;
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), opacity 15ms linear 30ms,
      transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    user-select: none;
  }
  &__startButton:hover {
    transition: all 0.5s ease;
    background: #707070;
  }
}
