.root {
  width: 340px;
  border: 1px solid #707070;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-between;

  &__header,
  &__main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h3 {
      border-bottom: 1px solid #707070;
      padding-bottom: 10px;
    }
    span {
      margin-top: 10px;
    }
  }

  @media (max-width: 1150px) {
    width: 280px;
    &__header,
    &__main {
      font-size: 13px;
    }
  }
  @media (max-width: 960px) {
    width: 200px;
    &__header,
    &__main {
      font-size: 13px;

      span {
        max-width: 150px;
        margin-bottom: 10px;
      }
    }
  }

  &__header {
    margin: 20px 0 0 20px;
  }
  &__main {
    margin: 0 0 0 20px;
  }

  &__footer {
    display: flex;
    align-items: flex-start;
    margin: 0 0 20px 20px;
  }
  &__startButton {
    width: 70px;
    height: 30px;
    padding: 5px 12px;
    border: 1px solid #9d9d9d;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
  }
  &__startButton:hover {
    transition: all 0.3s ease;
    background: #707070;
  }
}
