.root {
  &__container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    article {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      margin-bottom: 50px;
      margin-top: 50px;
    }
    div:last-child {
      align-items: center;
    }
  }

  h1 {
    margin-top: 50px;
  }
}
