.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px 0;

  @media (max-width: 960px) {
    button {
      font-size: 14px !important;
    }
  }

  @media (max-width: 740px) {
    margin: 50px 20px 0;
    &__rightside {
      button {
        font-size: 11px !important;
      }
    }
    &__lefside {
      a {
        h1 {
          font-size: 15px;
          width: 80px;
          margin: 0 auto;
          position: absolute;
          top: -30px;
          left: 0;
          right: 0;
        }
      }
      nav {
        margin-left: 0 !important;
      }
    }
  }
  @media (max-width: 630px) {
    justify-content: center;
    &__rightside {
      position: absolute;
      top: 30px;
      right: auto;
      left: auto;
    }
  }
  @media (max-width: 470px) {
    button {
      font-size: 11px !important;
    }
  }

  @media (max-width: 375px) {
    nav {
      margin-top: 20px;
    }
    &__rightside {
      right: unset !important;
      top: -8px !important;
    }
  }

  &__lefside {
    display: flex;
    align-items: center;
    nav {
      display: flex;
      align-items: center;
      margin-left: 20px;
      button {
        font-size: 20px;
        margin-left: 10px;
        cursor: pointer;
        background: unset;
        border: unset;
      }
      a {
        display: flex;
        align-self: center;
      }
    }
  }
  &__rightside {
    display: flex;
    align-items: center;

    button {
      cursor: pointer;
      background: unset;
      border: unset;
    }
  }
  &__lngButton {
    background: unset;
    border: unset;
    margin-right: 15px;
  }
}
