@import url(./libs/_normalize.scss);
@import './variables';

@mixin app {
  text-align: center;
}
.app {
  @include app;
}
.main {
  margin-left: 50px;
  margin-top: 150px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 50px;
}
.green {
  background-color: $green !important;
}
.red {
  background-color: $red !important;
}
.disabled {
  display: none;
}

.not-found {
  margin-top: 50px;
}

.bold {
  font-weight: bold;
}
