@import url(./libs/_normalize.scss);
@import './variables';

.app {
  text-align: center;
  height: 100vh;
  position: relative;
}
.main {
  display: flex;
  margin: 150px auto 50px;
  justify-content: space-between;
  width: 1000px;
}
.green {
  background-color: $green !important;
}
.red {
  background-color: $red !important;
}
.disabled {
  display: none;
}

.logo {
  padding-top: 15px;
}

.not-found {
  margin-top: 50px;
}

.bold {
  font-weight: bold !important;
}
.button {
  width: 300px !important;
  margin-bottom: 15px;
}

@media (max-width: 1050px) {
  .main {
    margin: 100px auto 50px;
    width: 700px;
  }
}

@media (max-width: 740px) {
  h1 {
    font-size: 15px;
    margin: 0 auto;
  }
  .main {
    width: 625px;
    margin: 100px auto;
  }
}

@media (max-width: 630px) {
  .main {
    width: 525px;
  }
}
@media (max-width: 540px) {
  .main {
    width: 470px;
  }
}

@media (max-width: 470px) {
  .main {
    flex-direction: column;
    margin: 0 auto 0;
    width: 300px;
    display: flex;
  }
  .footer__active {
    position: fixed !important;
  }
}

.footer__container {
  display: flex;
  margin: 0 20px 10px;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 95vw;
  align-items: center;

  @media (max-width: 960px) {
    p {
      font-size: 10px;
      font-weight: 200;
    }
    button {
      font-size: 14px !important;
    }
    h3 {
      font-size: 14px;
    }
  }

  @media (max-width: 740px) {
    margin: 0 auto;
    padding-bottom: 15px;

    p {
      bottom: 0;
      position: absolute;
      left: 0;
    }

    h3 {
      margin-right: 0 !important;
    }
    .footer__rightside {
      flex-direction: column;
      .inactive {
        display: none !important;
      }
      .active {
        display: flex !important;
        width: 80px;
        justify-content: space-between;

        li {
          margin-left: 0;
        }
      }
    }
  }
  @media (max-width: 630px) {
    padding-bottom: 15px;
    justify-content: center;
    align-items: baseline;
    h3 {
      font-weight: 400;
    }
  }

  @media (max-width: 470px) {
    p {
      bottom: 0;
      font-size: 7.5px;
    }
  }

  ul {
    display: flex;
    align-items: center;
  }

  .footer__center {
    ul {
      button {
        font-size: 18px;
        background: unset;
        border: unset;
        margin-right: 15px;
        cursor: pointer;
      }
    }
  }

  @media (max-width: 470px) {
    button {
      font-size: 11px !important;
    }
    h3 {
      font-size: 11px !important;
    }
  }

  .footer__rightside {
    align-items: center;
    display: flex;

    h3 {
      margin-right: 15px;
    }
    li {
      cursor: pointer;
      margin-left: 10px;
    }
  }
  @media (max-width: 340px) {
    height: 90px;
    p {
      margin-top: 100px;
    }

    h3 {
      position: absolute;
      left: 0;
      right: 0;
      margin-top: 20px;
    }
    .active {
      position: absolute;
      width: unset !important;
      justify-content: center !important;
      left: 0;
      right: 0;
      margin-top: 40px;
    }
  }
}

.memo {
  max-width: 85vw;
  display: flex;
  justify-content: space-between;
  margin: 150px auto 0;

  @media (max-width: 845px) {
    flex-direction: column;
    align-items: center;
    margin: 50px auto 0;
  }
}

.prepo__header {
  width: 300px;
  height: 60px;
  font-size: 17px;
  cursor: pointer;
  border: 1px solid #9d9d9d;
  padding: 15px;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px, rgba(0, 0, 0, 0.14) 0 6px 10px 0,
    rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  user-select: none;
  margin-top: 60px;
}

.prepo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  margin: 50px 20px 0;
  @media (max-width: 480px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 390px) {
    margin: 60px 20px 0;
    grid-template-columns: unset;
    grid-template-rows: unset;
  }
  div {
    cursor: pointer;
    border: 1px solid #9d9d9d;
    padding: 15px;
    border-radius: 24px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px, rgba(0, 0, 0, 0.14) 0 6px 10px 0,
      rgba(0, 0, 0, 0.12) 0 1px 18px 0;
    user-select: none;
  }
}
.timer {
  margin-top: 15px;
  @media (max-width: 630px) {
    margin-top: 30px;
  }
}

.info {
  position: absolute;
  flex-direction: column;
  z-index: 50;
  border: 1px solid #9d9d9d;
  opacity: 0;
  animation: opacity 0.5s forwards;
  padding: 15px;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px, rgba(0, 0, 0, 0.14) 0 6px 10px 0,
    rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  user-select: none;
  right: 0px;
  top: 50px;
  p {
    margin-bottom: 10px;
    font-size: 12px;
    display: flex;
    align-items: center;
    b,
    img {
      margin: 0 5px;
    }
  }
  @media (max-width: 550px) {
    width: 100%;
    top: 35px;
    right: unset;
    p {
      font-size: 7px;
    }
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-height: 520px) and (max-width: 470px) {
  .footer__container {
    position: unset;
    margin-top: 30px;
    justify-content: space-between;
    p {
      position: unset;
    }
  }
}
