@import url(./libs/_normalize.scss);

@mixin app {
  text-align: center;
}
.app {
  @include app;
}
.green {
  background-color: green;
}
.red {
  background-color: red;
}
.disabled {
  display: none;
}
.theme-button {
  background: unset;
  border: unset;
}
.light {
  fill: aliceblue;
}
.main {
  margin-left: 50px;
  margin-top: 150px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}
